<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272966827590-q1cem78sjqnebg6pr0omk2h4ip0aokur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272966827590-q1cem78sjqnebg6pr0omk2h4ip0aokur</string>
	<key>API_KEY</key>
	<string>AIzaSyCuiT-5zYGL8Wvd0K61Yqjg0ypH0gBbGis</string>
	<key>GCM_SENDER_ID</key>
	<string>272966827590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bekil.StoryPlayer</string>
	<key>PROJECT_ID</key>
	<string>storyplayerdemo</string>
	<key>STORAGE_BUCKET</key>
	<string>storyplayerdemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272966827590:ios:ee162ba85a28499ede9447</string>
	<key>DATABASE_URL</key>
	<string>https://storyplayerdemo.firebaseio.com</string>
</dict>
</plist>